.form {
    /* text-align: ; */
    width: 70%;
    margin: 0 15%;
}
.form > p {
    font-size: 14px;
}
.form > .mandatory {
    font-size: 14px;
    color: #8f8c8c;
}
.main-collection {
    margin: 0;
    padding: 0;
}
 .firstRow, .secondRow, .thirdRow, .fourthRow {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* margin: 10px 0 0 0; */
    /* margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));  */
}
fieldset {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}
legend {
    text-align: left;
    font-size: var(--bs-body-font-size);
}
fieldset > div {
    margin: 0 2%;
}
#female, #male {
    margin: 0 10px 0 0 !important;
}
.tnc > .terms {
    font-size: 12px;
}
.tnc > .terms >input[type='checkbox'] {
    margin: 15px 10px 0 0;
}
.tnc > .terms > label {
    margin: 10px 0 0 0;
}
.tnc > .terms > label > span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.tnc > .offers {
    display: flex;
    font-size: 12px;
}
.tnc .offers > input[type='checkbox'] {
    margin: 7px 10px 0 0;
}
.tnc > .offers > label {
    margin: 5px 0 0 0;
}
.fourthRow > datalist {
    display: inline-flex !important; 
}